<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="features.goalcreate">

    <application android:theme="@style/AppTheme">
        <activity
            android:name="oliveira.fabio.challenge52.challenge.challengeselect.presentation.activity.ChallengeSelectActivity"
            android:taskAffinity="oliveira.fabio.challenge52.goalcreate"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oliveira.fabio.challenge52.challengeselect" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="oliveira.fabio.challenge52.challenge.challengeoverview.presentation.activity.ChallengeOverviewActivity"
            android:taskAffinity="oliveira.fabio.challenge52.goalcreate"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oliveira.fabio.challenge52.challengeoverview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="oliveira.fabio.challenge52.creategoal.presentation.activity.GoalNameActivity"
            android:taskAffinity="oliveira.fabio.challenge52.goalcreate"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oliveira.fabio.challenge52.goalname" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="oliveira.fabio.challenge52.creategoal.presentation.activity.GoalSetPeriodsActivity"
            android:taskAffinity="oliveira.fabio.challenge52.goalcreate"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oliveira.fabio.challenge52.goalsetperiods" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="oliveira.fabio.challenge52.creategoal.presentation.activity.CreateGoalFinalStepActivity"
            android:taskAffinity="oliveira.fabio.challenge52.goalcreate"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oliveira.fabio.challenge52.goalcreate" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>