<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="oliveira.fabio.challenge52">

    <application
            android:name=".util.base.Challenge52Application"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".feature.targetlist.ui.activity.TargetListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".feature.targetcreate.ui.activity.TargetCreateActivity"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".feature.targetcreate.ui.activity.CalendarActivity"
                  android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>